.brder {
  -webkit-border-radius: .5em;
     -moz-border-radius: .5em;
          border-radius: .5em;
  margin-bottom: 2em;
}
.brder:last-child {
  margin-bottom: 0;
}
.headr > h3 {
  background-color:#d9b3ff; 
  border-bottom: 1px solid dimgray;
  font-weight: normal;
  padding-left: .5em;
  padding-top: .2em;
}

#name {
  height: 2.5em;
}
#ingredients {

}
#directions {

}
#name,
#ingredients,
#directions {
  font-size: 1em;
  font-family: times;
  width: 100%;
  padding-left: 5px;
}
#bttn-div {
  width: 100%;
  
}
#save {
  background-color:#d9b3ff;
  position: relative;
  width: 100%;
  font-weight: bold;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
}