/***** popup UI div *****/


/***** prevent screen clicks below dialog box *****/
#subframe-mount {
  bottom: 0;
  height: 100%; /*20em;*/
  left: 0;
/*   margin: 10% auto 0; */
  position: absolute;
  right: 0;
  top: 0%; 
  width: 100%; /*31.5em;*/
  z-index: 2;
}

#subframe {
  height: auto;
  margin: 10% auto;
  max-width: 600px;
  padding: 0 1em 1em; /* 0 1.5em 1.5em 1.5em */
  position: relative;
  width: 100%;
}


/**** subframe-header ****/
#subframe-header {
  line-height: 2em;
}
#subframe-header > h3  {
  padding-top: .3em;
  text-align: center;
}
#subframe-header > i {
/*   padding-top: 0em; */
  text-align: left;
}

/** styling for icon **/
#icon-close {
  color: black;
  float: right;
  font-size: 1em;
  margin-top:0;
  padding: 0;
}
.i-ele {
  height: 2em;
  width: 10%;  
}

/***** Form Div *****/

.flex-container {
/*   background-color: whitesmoke;
  border: 5px ridge lightgray;
  overflow: hidden; *
  margin-bottom: 1em;*/
}

/* .flex-container:last-child {
  margin-bottom: 1em;
  border: 1px dashed red;
} */

/**** Form Header ****/
/* also used as #twitter-header*/
.headr > h3 {
  background-color:#d9b3ff; 
  border-bottom: 1px solid dimgray;
  font-weight: normal;
  padding-left: .5em;
  padding-top: .2em;
}
.ua-header {
  line-height: 1.5em;
}
.ua-header > h3 {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
.ua-header > i {
  position: absolute;
  width: 10%;
}


#name {
  height: 1.5em;
}
#ingredients {

}
#directions {

}
#name,
#ingredients,
#directions {
  font-family: Arial;
  font-size: 1em;
  padding-left: 5px;
  width: 100%;
}
#bttn-div {
  width: 100%; 
}
#reset,
#save {
  background-color:#d9b3ff;
  cursor: pointer;
  font-weight: bold;
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
}
#reset {
  float: right;
}
/****** Media Queries ******/

@media all and (min-width: 1281px) {
  body {
    font-size: 1.2em;
  }
}
 
@media all and (max-width: 1280px) and (min-width: 851px) {
  body {
    font-size: 1em;
  }
/*   #subframe-mount {
    min-width: 600px;
    width: 60%;
  } */
}
 
@media all and (max-width: 850px) and (min-width: 250px) { 
  body {
    font-size: .8em; 
  }
/*   #subframe-mount {
    min-width: 325px;
    width: 100%;
  } */
/*   #subframe {
    padding-bottom: 1em;
  } */
/*   .container {
    border: 5px 0px ridge lightgray;
    -webkit-box-shadow: initial;
       -moz-box-shadow: initial;
            box-shadow: initial; 
    padding-bottom: 0;
  } */
}