body {
  margin: 0;
  padding: 0;
  width: 99.5%;
  height: 99vh;
  background-color: whitesmoke;
  overflow: auto;
}

.container {
  margin: 2em auto;
  padding: 0 1em 2em 1em;
  border: 1px solid black;
  width: 85%;
  border-radius: .25em;
  height: auto;
}

#locker {
  border: 0 0 1px 0 solid black;
  text-align: center;
}

#flex {
  width: 100%;
  display: inline-flex;
  align-items: stretch;
  height: 80vh;
  overflow: hidden;
}

.contents {
 overflow: auto; 
}

#index {
  width: 30%;
  border: 1px solid black;
  order: 1;
  border-radius: .25em 0 0 .25em;
}

#recipe {
  width: 70%;
  margin-left: 1em;
  border: 1px solid black;
  order: 2;
  border-radius: 0 .25em .25em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/****** Media Queries ******/

@media all and (min-width: 1081px) {
  body {
    font-size: 1.5em;
  }
}
 
@media all and (max-width: 1080px) and (min-width: 641px) {
  body {
    font-size: 1.2em;
  }
}
 
@media all and (max-width: 640px) and (min-width: 250px) {
  body {
    font-size: .8em; 
  }

  #flex {
   display: block;
    height: auto;
    padding: 0;
  }
  
  #index { 
    min-height: 1.5em;
    max-height: 15vh;
    margin: 0 auto;
    width: 99%;
    border-top: 0;
    border-radius: .25em .25em 0 0;
  }
  #recipe {
    margin: 1em auto;
    height: 60vh;
    min-height: 30vh;
    width: 99%; 
    overflow: auto;
    border-radius: 0 0 .25em .25em;
  } 
  .contents {
    position: relative;
    min-height: 7em;
  }
  td {
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
  }
}