/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: whitesmoke;
}

h1 {
  font-style: italic;
  color: #373fff;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

/****** Media Queries ******/

@media all and (min-width: 1081px) {
  body {
    font-size: 1.5em;
  }
}
 
@media all and (max-width: 1080px) and (min-width: 641px) {
  body {
    font-size: 1.2em;
  }
}
 
@media all and (max-width: 640px) and (min-width: 300px) {
  body {
    font-size: .8em; 
  }
  .avgScreen {
    display: none;
  }
  .smallScreen {
    display: block;
    padding-top: 2px;
    padding-left: 5px;
  }
}
