@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  height: 99vh;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 99.5%;
}

/***** main div *****/

#main {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d2ff52+0,91e842+100;Neon */
  background: #d2ff52; /* Old browsers */
  background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
  border: 5px ridge lightgray;  
  -webkit-border-radius: .5em;
     -moz-border-radius: .5em;
          border-radius: .5em;
  -webkit-box-shadow: 8px 4px 20px 10px dimgray;
     -moz-box-shadow: 8px 4px 20px 10px dimgray;
          box-shadow: 8px 4px 20px 10px dimgray;
  height: auto;   
  margin: 2em auto;
  padding: 0 1.5em 2em 1.5em;
  width: 75%;
}

/***** main header div *****/

#locker-header {
  color: dimgray;
  display: inline-block;
  padding: .3em;
  height: 2.5em;
  text-align: center;
  width: 100%;
}
.locker-div {
  display: inherit;
/*   font-size: 1.5em;  */
  height: 2em;
  margin-top: 0;  
  width: 20%; 
}
#locker-left {
  float: left;
  margin: 0;
}
#locker-title {
/*   font-style: italic; */  
  font-weight: bold;
  margin: 0 auto;
  width: 50%;
}
#locker-right {
  float: right;
}
#locker-lock {
  float: right;
  font-size: .8em;
  padding-top: .2em;
  padding-right: .55em;
}


/* #locker > p {
  margin-top: 0;
  padding: 5px;
  font-size: 1.5em;
  border: 1px solid red;
} */

/***** recipe and ingredients divs (x2) *****/
#flex {
  width: 100%;
  display: inline-flex;
  align-items: stretch;
  height: 70vh;
  overflow: hidden;
}
.contents {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: whitesmoke;
  border: 5px ridge lightgray;
}

#index-header,
#recipe-header {
  background-color:#d9b3ff; 
  border-bottom: 1px solid black;
  height: 2em;
  padding-top: .25em;
  width: 100%;
}

/***** recipe index div *****/

#index {
  border-radius: .5em 0 0 .5em;
  order: 1;
  width: 30%;
  z-index: 3;
}
#index-header { 
  display: inline-block;
  text-align: center;
  width: 100%;  
}
.index-div {
  display: inherit;
  height: 1.5em;
  margin-top: 0;
  padding-top: .1em;
  width: 15%;  
}
#index-left {
  float: right;
  width: 1%;
}
#index-title {
  padding-left: .2em;
  float: left;
  margin-left: 0;
  text-align: left;
  width: 80%;  
}
#index-right {
  float: right;
  text-align: right;
  padding-right: .4em;
}

table {
  z-index: -1;
  width: 100%;
  border-collapse: collapse;
}
th {
/*   background-color: skyblue;
  text-align: left; */
}
td {
  padding-left: 10px;
}
tbody {
  background-color: whitesmoke;

}
tr:nth-child(even) {
  background-color: lightgray;
}  

/***** recipe ingredients div *****/

#recipe {
  border-radius: 0 .5em .5em 0;
  margin-left: 1.5em;
  order: 2;
  width: 70%;
}
#recipe-header {
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.recipe-div {
  display: inherit;
  height: 1.5em;
  margin-top: 0;
  padding-top: .1em;
  width: 20%;
}
#recipe-left {
  float: left;
}
#recipe-title {
  margin: 0;
  text-align: center;
  width: 50%;
}
#recipe-icons {
  float: right;
  padding-right: .75em;
  text-align: right;
}
.fa-edit {
  padding-right: .4em;
}


ul {
  list-style-position: inside;
}


/****** Media Queries ******/

@media all and (min-width: 1281px) {
  body {
    font-size: 1.2em;
  }
  table {
/*     margin-top: 1.75em; */
  }
}
 
@media all and (max-width: 1280px) and (min-width: 801px) {
  body {
    font-size: 1em;
  }
}
 
@media all and (max-width: 800px) and (min-width: 250px) { /* max-width: 640px */
  body {
    font-size: .8em; 
  }
  #main {
    min-width: 325px;
    width: 100%;
    position: fixed;
    border: 0;
    border-top: 5px ridge lightgray;
    border-bottom: 5px ridge lightgray;
/*     border: 5px 0 5px 0 solid dimgray; */
  }
  #locker {
    padding: 5px;
/*     padding-top: 5px; */
  }
  #flex {
    display: block;
    height: auto;
    padding: 0;
  } 
  .contents {
    position: relative;
    min-height: 7em;
  }
  #index { 
    border-radius: .5em .5em 0 0;
    margin: 0 auto;
    min-height: 1.5em;
    max-height: 15vh; 
    padding: 0;
    width: 99%;
  }
  #index-header { 
    margin-top: 0;
    padding: 0;
    text-align: center; 
  }
  .index-div {
    padding-top: .2em;
    width: 20%;
  }
  #index-left {
    float: left;
    width: 20%;
  }
  #index-title {
    float: initial;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
 
  #index-table {
    height: 7em;
    max-height: 20em;
  }
  td {
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
  }  
  
  #recipe {
    margin: 1em auto;
    height: 60vh;
    min-height: 30vh;
    width: 99%; 
    overflow: auto;
    border-radius: 0 0 .5em .5em;
  }
  .recipe-div {
    padding-top: .2em;
  }
  

}


/* #main {
  position: relative;
  margin: 2em auto;
  height: auto;
  width: 90%;
  padding: 1em;
  border: 1px solid black;
  display: flex;
}

header {
  border: 1px solid purple;
  padding: 5px;
  width: 100%;
  order: 0;
  height: 2em;
}

p {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.contents { 
  margin-top: 1em;
  display: hidden;
}

.avgScreen {
  display: inline-block;
  border: 1px solid black;
  position: relative;
  width: 45%;
}

#index {
  height: 65vh;
  max-width: 30%;
  overflow: auto;
}

#recipe {
  margin-left: 1em;
  height: 65vh;
  width: 59vw;    align-items: stretch;
} */

/* table {
  border-collapse: collapse;
  width: 100%;
}
tr:nth-child(even) {
  background-color: orange;
}

td {
  padding: 5px;
  border: 1px solid dimgray;
} */